img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
h {
  text-align: Center;
}
p {
  text-align: Center;
  }
a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
